/* NAVBAR  */
.navbar_container {
    height: 80px;
    background-color: hsl(210deg 29% 24%);
    color: white;
}

.fa-bars {
    font-size: 2rem;
}


.altezza {
    height: 100%;
}

.link_nav {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

li a:hover {
    color: aqua;
}







/* SECTION NUMERO 1 */
.section1_container {
    background-color: hsl(168deg 76% 42%);
    color: white;
    padding-top: 80px;
}

.testo-centrato {
    text-align: center;
}

.immagine {
    width: 210px;
}


.fs {
    font-size: 2.5rem;
}

.titolini {
    text-transform: uppercase;
}

.stellina {
    display: inline-block;
}

.dis-flex {
    display: flex;
    justify-content: center;
}


.barra_bianca {
    width: 100px;
    height: 3px;
    background-color: white;
    display: inline-block;
}

.fa-star {
    font-size: 2rem;
}












/* SECTION NUMERO 2  */
.section2_container {
    background-color: white;
}

.color_black {
    color: black;
}


.immagine-portfolio {
    width: 100%;
    border-radius: 10px;
    position: relative;
}

.nera {
    background-color: black;
}

.pos_rel {
    position: relative;
}

.plus-hover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 5rem;
    font-weight: bold;
    background-color: rgba(127, 255, 212, 0.7);
    border-radius: 10px;
    display: none;
}

.fa-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.card:hover .plus-hover {
    display: block;
}


/* SECTION NUMERO 3 */
.section3_container {
    background-color: hsl(168deg 76% 42%);
    color: white;
}


.barra_bianca2 {
    width: 60px;
    height: 3px;
    background-color: white;
    display: inline-block;
}

.white {
    color: white;
    border: 1px solid white;
}

.white:hover {
    background-color: white;
    color: black;
}



/* SECTION NUMERO 4 */
.section4_container {
    background-color: white;
    color: black;
}


.span {
    background-color: green;
    color: white;
    padding: 5px 5px;
}

.nera2 {
    width: 60px;
    background-color: black;
}

input::placeholder {
    color: black;
    font-size: 1.5rem;
}

textarea.form-control {
    min-height: 200px;
}

textarea::placeholder {
    color: black;
    font-size: 1.5rem;
}








/* CREDITS FOOTER  */
.credits_container {
    background-color: hsl(209deg 31% 33%);
    color: white;
}

.verde {
    color: green;
}

.verde:hover {
    color: green;
}

.fa-brands {
    font-size: 2rem;
}



/* COPYRIGHT FOOTER  */
.copyright_container {
    height: 100px;
    background-color: hsl(210deg 29% 24%);
    color: white;
}

.fot-altezza {
    height: 100%;
}